<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Name</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Name" class="input-xlarge">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="E-mail" class="input-xlarge">
                <p class="help-block">Please provide your buisness E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="address">Address</label>
            <div class="controls">
                <input type="text" id="address" name="address" placeholder="Address" class="input-xlarge">
                <p class="help-block">Please enter address</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="phone-number">Phone number</label>
            <div class="controls">
                <input type="text" id="phonenumber" name="phonenumber" placeholder="phone number" class="input-xlarge">
                <p class="help-block">Please enter Phone number</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="store-name">store name</label>
            <div class="controls">
                <input type="text" id="store name" name="storeName" placeholder="store name" class="input-xlarge">
                <p class="help-block">Please enter store name</p>
            </div>
        </div>

        <div class="control-group">

            <label class="control-label" for="store-name">instagram handle</label>
            <div class="controls">
                <input type="text" id="instagram-handle" name="instagram-handle" placeholder="Instagram handle" class="input-xlarge">
                <p class="help-block">Please enter instagram handle</p>
            </div>
        </div>


        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>