<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <title>Sneaker R us signup</title>
</head>
<body>

        <form class="form-horizontal" action="/signup" method="post">
            <fieldset>
            
            <!-- Form Name -->
            <legend>Sneaker R us Beta Signup</legend>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="fn"> name</label>  
              <div class="col-md-4">
              <input id="fn" name="name" type="text" placeholder="name" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="ig">Instagram handle</label>  
              <div class="col-md-4">
              <input id="ig" name="igh" type="text" placeholder="instagram handle" class="form-control input-md" required="">
                
              </div>
            </div>
            
            
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="cmpny">store name</label>  
              <div class="col-md-4">
              <input id="cmpny" name="storeName" type="text" placeholder="store name" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>  
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="add1"> Street Address </label>  
              <div class="col-md-4">
              <input id="add1" name="address" type="text" placeholder="enter street address" class="form-control input-md" required="">
                
              </div>
            </div>
            
            
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="city">City</label>  
              <div class="col-md-4">
              <input id="city" name="city" type="text" placeholder="city" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="zip">Zip Code</label>  
              <div class="col-md-4">
              <input id="zip" name="zip" type="text" placeholder="Zip Code" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="ctry">Country</label>  
              <div class="col-md-4">
              <input id="ctry" name="ctry" type="text" placeholder="Country" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="phone">Phone Number</label>  
              <div class="col-md-4">
              <input id="phone" name="phone" type="text" placeholder="Phone number#" class="form-control input-md" required="">
                
              </div>
            </div>
            
            
            
            
            
            
            
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submit"></label>
              <div class="col-md-4">
              <div>

                <button type='submit' id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
              </div>
            </div>
            </fieldset>
            </form>
          
          
    
</body>
</html>